/************ maker-logo ***************/
@import "src/style/_";

.maker-logo {
    margin: 0;
    line-height: 0;

    @include desktopStyle {
        //width: 100rem;
        //height: 40rem;
        width: 100%;
        height: 100%;
        //max-width: 0;
        //max-height: 0;

    }

    svg {
        @include desktopStyle {
            width: 100%;
            height: 100%;
        }
    }

    path {
        fill: inherit;
    }

    svg {
        fill: color(gray2);
        transition: fill 200ms ease-in-out;
    }

    &:hover {

        svg {
            fill: color(goldLight);
            transition: fill 200ms ease-in-out;
        }
    }
}