mixin makerLogo(name)
    p.maker-logo
        if(name == 'merlo')
            include merlo.svg
        else if(name == 'pistenbully')
            include pistenbully.svg
        else if (name == 'fae')
            include fae.svg
        else if (name == 'reform')
            include reform.svg
