/************ catalog-title ***************/
@import "src/style/_";

.catalog-title {
    font-family: "Oswald Light";
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.005em;
    text-transform: uppercase;
    margin: 0 0 12px;
    color: transparent;

    //@each $color in merlo, reform, fae, pistenbully {
    //    body.#{$color} & {
    //        color: color($color);
    //    }
    //}


    @include desktopStyle {
        margin-bottom: 16rem;
        font-size: 96rem;
    }

    &__text {
        position: relative;
        display: inline-block;
        overflow: hidden;
    }
}