
- var titleAbout = ['Немного', 'о нас'];
mixin about
    .about
        ._title
            +sectionHeaderAboutBlock('dark')
        ._block.js-soa.is-scroll-invisible
            ._text
                p
                    b Prime Pride
                    |   был основан в 2014 году как эксклюзивный представитель в России и РБ компании «REFORM», чуть позже мы стали предcтавителями техники «PistenBully». Мы с 2014 года занимаемся продажей, ремонтом и обучением эксплуатации техники «REFORM», «PistenBully», «FAE», «Merlo». У нас так много клиентов, потому что мы относимся к работе серьёзно, что значит если и допускаем ошибки, то всегда признаём их, исправляем, и делаем выводы.
                p Мы понимаем, как работает бизнес наших партнёров, и всегда работаем с ними в связке. У нас своя ремонтная база, огромный склад запчастей в наличии, лучшие сервисмены и лучшие специалисты в офисе. Мы доступны круглосуточно. Мы официальные дистрибьюторы и представители производителя, а это значит, что мы соответствуем всем стандартам и нормам качества.
            ._counter
                +counter