mixin socialLink
    ul.social-links
        li._item
            a(href="#" class=val).social-link.fb
        li._item
            a(href="#" class=val).social-link.insta
        li._item
            a(href="#" class=val).social-link.youtube
