/************ шапка сайта ***************/
@import "src/style/_";


.social-links {
    @include baseListStyle();
    margin:  0 -16px;
    display: flex;

    @include desktopStyle {
        margin: 0 -16rem;
    }


    &__item {
        margin: 0 16px;
        width: 56px;
        height: 56px;

        @include desktopStyle {
            width: 56rem;
            height: 56rem;
            margin: 0 16rem;
        }
    }

}

.social-link {
    display: block;
    text-decoration: none;
    line-height: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;

    @each $val in (fb, insta, youtube) {
        &.#{$val} {
            background-image: url("i/social/#{$val}.svg");
            @include baseTransitionStyle(background-image);

            &:hover {
                background-image: url("i/social/#{$val}-hover.svg");
                @include baseTransitionStyle(background-image);
            }
        }
    }

    &:hover {
        //path {
        //    fill: color(goldDark);
        //    @include baseTransitionStyle(fill);
        //}
    }

    //svg {
    //    width: 100%;
    //    height: 100%;
    //}
    //
    //path {
    //    fill: color(goldLight);
    //    @include baseTransitionStyle(fill);
    //}
}