/************ шапка ***************/
@import "src/style/_";


.modal {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: url("i/noise_.png"), #0A0B0A;
  align-items: center;

  &.open {
    display: flex;
    animation: modal 300ms ease-in-out 300ms forwards;
  }

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__close {
    @include baseBtnStyle();
    z-index: 1;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 64px;
    height: 64px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;

    @include desktopStyle {
      right: 8rem;
      top: 8rem;
      width: 64rem;
      height: 64rem;
      padding: 20rem;
    }


  }



  &__icon {
    display: block;
    width: 100%;
    height: 100%;
    @include baseImgStyle(url('i/icons/modal-close.svg'));
    @include baseTransitionStyle(background-image);

    .modal__close:hover & {
      background-image: url('i/icons/modal-close-hover.svg');
      @include baseTransitionStyle(background-image);

    }
  }
}


@keyframes modal {
  from {
    opacity: 0;
    transform: translateY(400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);

  }
}