mixin arrowLeft(params)
    button.swiper-arrow.left(class=params.size class=params.theme)
        i._icon
            include arrow-left.svg

mixin arrowRight(params)
    button.swiper-arrow.right(class=params.size class=params.theme)
        i._icon
            include arrow-right.svg