-
    var clienList = [
        {alt: 'Газапром нефть', img: 'client05.png'},
        {alt: 'Газапром', img: 'client16.png'},
        {alt: 'Норникель', img: 'client10.png'},
        {alt: 'Ямалдорстрой', img: 'client12.png'},
        {alt: 'Роснефть', img: 'client11.png'},
        {alt: 'Роза Хутор', img: 'client09.png'},
        {alt: 'Россети', img: 'client08.png'},
        {alt: 'Магнитогорский металлоргический комбинат', img: 'client14.png'},
        {alt: 'Таграс', img: 'client15.png'},
        {alt: 'Европлан', img: 'client01.png'},
        {alt: 'Альфа Лизинг', img: 'client02.png'},
        {alt: 'Фосагро', img: 'client06.png'},
    ]