mixin typography
    .typography
        .d-flex
            .col-4
                .mb-20
                    p.openSansRegular14 Open Sans Regular 14
                    p.openSansRegular16 Open Sans Regular 16
                    p.openSansRegular18 Open Sans Regular 18
                    p.openSansRegular20 Open Sans Regular 20
                .mb-20
                    p.OpenSansSemiBold16 Open Sans SemiBold 16
                    p.OpenSansSemiBold18 Open Sans SemiBold 18
                    p.OpenSansSemiBold20 Open Sans SemiBold 20
                .mb-20
                    p.OpenSansBold14 Open Sans Bold 14
                    p.OpenSansBold16 Open Sans Bold 16
                    p.OpenSansBold18 Open Sans Bold 18
                    p.OpenSansBold20 Open Sans Bold 20

            .col-4
                .mb-20
                    p.OswaldRegularCaps14 Oswald Regular caps 14
                    p.OswaldMediumCaps14 Oswald Medium caps 14

                .mb-20
                    p.OswaldRegular16 Oswald Regular 16
                    p.OswaldRegular18 Oswald Regular 18
                    p.OswaldRegular20 Oswald Regular 20
                    p.OswaldRegular24 Oswald Regular 24

                .mb-20s
                    p.OswaldRegularCaps16 Oswald Regular Caps 16
                    p.OswaldRegularCaps18 Oswald Regular Caps 18
                    p.OswaldRegularCaps20 Oswald Regular Caps 20
                    p.OswaldRegularCaps24 Oswald Regular Caps 24
            .col-4

                .mb-20
                    p.OswaldMedium16 Oswald Medium 16
                    p.OswaldMedium18 Oswald Medium 18
                    p.OswaldMedium20 Oswald Medium 20
                    p.OswaldMedium24 Oswald Medium 24

                .mb-20
                    p.OswaldMediumCaps16 Oswald Medium Caps 16
                    p.OswaldMediumCaps18 Oswald Medium Caps 18
                    p.OswaldMediumCaps20 Oswald Medium Caps 20
                    p.OswaldMediumCaps24 Oswald Medium Caps 24