/************ шапка сайта ***************/

@import "dnk/src../../style/_";

.page-header {
    position: relative;
    z-index: 5;


    &__top {
        position: relative;
        background: #fff;
        padding-top: 20px;
        z-index: 3;
    }
}