- var titleGeography = ['География', 'работы'];
- var titleNews = ['Новости'];
- var subtitleMerlo = 'Мировой лидер по производству телескопических машин';

-
    var newsListIndexMerlo = [
        {
            title: 'Активно празднуем новый 2021 в горах',
            date_day: '22 янв',
            date_year: '2021',
            maker: '',
            img: 'new1.png',
        },
        {
            title: 'Новое оборудование для уборки снега',
            date_day: '22 дек',
            date_year: '2020',
            maker: 'Reform',
            img: 'new2.png',
        },
        {
            title: 'Техника merlo теперь доступна для заказа на сайте',
            date_day: '16 окт',
            date_year: '2020',
            maker: 'Merlo',
            img: 'new3.png',
        },
        {
            title: 'Осенние спецпредложения',
            date_day: '01 сен',
            date_year: '2020',
            maker: 'FAE',
            img: 'new4.png',
        },
        {
            title: 'Посетите нас на стенде REFORM на выставке InterAlpin в Инсбруке выставке InterAlpin в Инсбруке',
            date_day: '17 июн',
            date_year: '2020',
            maker: 'Reform',
            img: 'new5.png',
        },

    ]


-
    var instaList = [
        {img: '0.png'},
        {img: '1.png'},
        {img: '2.png'},
        {img: '3.png'},
        {img: '4.png'},
        {img: '5.png'},
        {img: '6.png'},
        {img: '7.png'},
        {img: '8.png'},
        {img: '9.png'},
    ]
-
    var mainSlider = [
        {
            img: 'i/index/m-slider/1.png',
            title: names.MERLO,
            subtitle: subtitle
        },
        {
            img: 'i/index/m-slider/2.png',
            title: names.PISTENBULLY,
            subtitle: subtitle
        },
        {
            img: 'i/index/m-slider/3.png',
            title: names.FAE,
            subtitle: subtitle
        },
        {
            img: 'i/index/m-slider/4.png',
            title: names.REFORM,
            subtitle: subtitle
        },
    ]

-
    var sliderCertificates = [
        {img: 'i/index/sertificates/1.png'},
        {img: 'i/index/sertificates/1.png'},
        {img: 'i/index/sertificates/1.png'},
        {img: 'i/index/sertificates/1.png'}
    ]

- var catalogPartText = 'История Группы с 1964 года характеризуется опытом, основанным на идеях, энтузиазме и увлеченности. Группа объединяет ряд промышленных предприятий, совместно выпускающих новую продукцию.'
- var catalogPartText2 = 'Отмечена многочисленными международными премиями. Развитие комплексных проектов: от зарождения идеи до конечного результата, от разработки до продажи позволяет быть новатором, соответствовать потребностям и будущим тенденциям все более конкурентного рынка.';
- var adress = 'i/index/catalog-list/';

-
    var list = [
        {
            img: adress + '1.png',
            title: 'Телескопические погрузчики',
        },
        {
            img: adress + '2.png',
            title: 'Транспортеры cingo',
        },
        {
            img: adress + '3.png',
            title: 'самоходные бетоносмесители dbm',
        },
        {
            img: adress + '4.png',
            title: 'Навесное оборудование',
        },
    ]