-
    var catalogSpecialList = [
        {
            title: 'FAE 300/U TRINCIA FORESTALE',
            img: ['i/catalog/8.png', 'i/catalog/9.png', 'i/catalog/10.png', 'i/catalog/11.png'],
            features: {
                model: 'FAE 300/U-250',
                part: 'FAE 300/U-250 con rotore tipo B/3, abbattirami idraulico e guide pins',
                time: '50',
                year: '2014',
                maker: 'Italia',
            }
        },
        {
            title: 'FAE 500/S-250 FRESA FORESTALE / STABILIZZATRICE',
            img: ['i/catalog/8.png', 'i/catalog/9.png', 'i/catalog/10.png', 'i/catalog/11.png'],
            features: {
                model: 'FAE 500/S-250',
                part: 'FAE 500/S-250 con utensili tipo B/3',
                time: '120',
                year: '2013',
                maker: 'Canada',
            }
        },
        {
            title: 'FAE 200/U-200 TRINCIA FORESTALE',
            img: ['i/catalog/8.png', 'i/catalog/9.png', 'i/catalog/10.png', 'i/catalog/11.png'],
            features: {
                model: 'FAE 200/U-200',
                part: '200/U-200',
                time: '95',
                year: '2008',
                maker: 'Canada',
            }
        },
        {
            title: 'PT-475',
            img: ['i/catalog/8.png', 'i/catalog/9.png', 'i/catalog/10.png', 'i/catalog/11.png'],
            features: {
                model: 'Ahwi Prinoth RT 400 tracked carrier',
                part: '500/U-250 trincia forestale con rotore C/3 e abbattirami idraulico',
                time: '690',
                engine: 'Motore CAT C13, Tier 4F, 475 hp',
                year: '2018',
                maker: 'Sarnonico, TN, Italy',
            }
        },
        {
            title: 'PT-475',
            img: ['i/catalog/8.png', 'i/catalog/9.png', 'i/catalog/10.png', 'i/catalog/11.png'],
            features: {
                model: 'PT-475, powered by a CAT C13 Acert ',
                part: 'FAE 500/U-250 trincia per utensili tipo A/3 e abbattirami idraulico e/o FAE SFH/PM-250, trincia/stabilizzatrice ',
                time: '130',
                year: '2019',
                maker: 'Италия'
            }
        }
    ]

-
    var keys = {
        model: 'Модель',
        part: 'Головка',
        time: 'Часы',
        engine: 'Двигатель',
        year: 'Год',
        maker: 'Место'
    }
