mixin threeColumn
    .catalog-content
        h4 Чувство безопасности приносит больше удовольствия от вождения
        img(src="i/product-card/img-1.jpg" alt="alt изображения")
        .row
            .col-d-3
                h3 БОЛЬШИЙ ЗАПАС ТОПЛИВА
                p Объем бака 300 л и низкий расход топлива обеспечивают длительную эксплуатацию ратрака. Топливный бак вместимостью до 300 л обеспечивает достаточный запас топлива даже при максимально долгой эксплуатации.
            .col-d-3
                h3 УДОБНАЯ КАБИНА
                p Удобство и простота управления: благодаря панели управления можно выбрать любую функцию, нажав нужную кнопку, и не бояться что-то перепутать. Каждая функция отображается на экране и обозначена характерным цветом. Двигатель удобно запускается нажатием одной кнопки.
            .col-d-3
                h3 НАДЕЖНОСТЬ ДАЖЕ ПОД ПОКРОВОМ НОЧИ
                p Ратрак PistenBully 600 справляется даже с экстремальными ситуациями. Абсолютно все компоненты электроники разработаны с учетом требований максимальной эксплуатационной готовности, высочайшей надежности и функциональности. При этом все компоненты находятся в постоянной готовности и эффективно помогают водителю во время работы.


