- var sliderProductCard = ['i/product-card/1.jpg', 'i/product-card/2.jpg', 'i/product-card/3.jpg', 'i/product-card/4.jpg']

-
    var productCardGallery = [
        {img: 'i/product-card/slider-1.jpg'},
        {img: 'i/product-card/slider-2.jpg'},
        {img: 'i/product-card/slider-1.jpg'},
        {img: 'i/product-card/slider-2.jpg'}
    ]

-
    var productCardVideo = [
        {videoId: 'u0P6cLDgNQk'},
        {videoId: '_YgbC01FeMQ'},
        {videoId: 'wK_ze1bLP4k'},
        {videoId: 'LIdpOLUHXPY'}
    ]


-
    var sliderOptionally2 = [
        {
            specifications: true,
            title: 'MULI T7 X, T8 X, T8 X PRO',
            img: ['i/catalog/1.png'],
            description: 'Clean 6-cylinder engine with 512 hp (382 kW) and powerful torque (EU Stage V). Reduced weight coupled with increased performance for maximum power-to-weight and with it improved climbability.',
        },
        {
            specifications: true,
            title: 'MULI T6\n',
            img: ['i/catalog/2.png'],
            description: 'Lightest machine. Cleanest engine. Highest gradability. Most intuitive control. Best winch.',
        },
        {
            specifications: true,
            title: 'MULI T7\n',
            img: ['i/catalog/3.png'],
            description: 'Lightest machine.',
        },
        {
            specifications: true,
            title: 'MULI T7 S',
            img: ['i/catalog/4.png'],
            description: 'Приварными (под постоянным давлением) стальными противоножами',
        },
        {
            specifications: true,
            title: 'Очень очень длинное название продукта в 3 строки',
            img: ['i/catalog/5.png'],
            description: 'The PistenBully 400 Indoor is destinated for use in snow domes: The engine is quiet and also low-emission thanks to its integrated emission control and a soot filter',
        },
        {
            specifications: true,
            title: 'MULI T10 X',
            img: ['i/catalog/6.png'],
            description: 'The expectations of a perfect snow park rise from season to season. The extreme range of motion of the front blade lets the park builder push, carry and place the snow exactly where needed.',
        }
    ]

-
    var dataTable2 = [
        ['', 'SSH 150', 'SSH 175'],
        ['Трактор (мин./ макс.)', '160-280', '180-280'],
        ['Частота вращения ВОМа (об/мин)', '1000', '1000'],
        ['Рабочая ширина (мм)', '1600', '1840'],
        ['Общая ширина (мм)', '1980', '2220'],
        ['Вес (кг)', '3690', '3920'],
        ['Макс.рабочая глубина (мм)', '400', '400'],
        ['Кол-во зубьев/тип A + MH', '58+4', '66+4\n'],
    ]

-
    var dataTable2_2 = [
        ['', 'STABI/H 225', 'STABI/H 250', 'STABI/H HP 225', 'STABI/H HP 250'],
        ['Трактор (мин./ макс.)', '300-400', '300-400', '350-500', '350-500'],
        ['Частота вращения ВОМа (об/мин)', '1000', '1000', '1000', '1000'],
        ['Рабочая ширина (мм)', '1600', '2530', '1600', '2530'],
        ['Общая ширина (мм)', '1980', '2890', '2650', '2890'],
        ['Вес (кг)', '6780', '6980', '6830', '7030'],
        ['Макс.рабочая глубина (мм)', '10,5-50', '10,5-50', '10,5-50', '10,5-50'],
        ['Кол-во зубьев/тип A + MH', '68 + 8 STC/FP - 8 STC/FP', '76 + 8 STC/FP - 8 STC/FP', '76 + 8 STC/FP - 8 STC/FP', '76 + 8 STC/FP - 8 STC/FP'],
    ]
