mixin description
    .catalog-content
        .row
            .col-d-2
                p The developers at Kässbohrer are known for their ongoing efforts in the search for optimization. It is particularly important for the PistenBully's "footwear" to remain on the cutting edge. That is why the new 6-belt KombiPlus track is now being launched on the market. Using it means smooth steering is possible even on steep slopes.
                p This is what the combi track was originally designed for: suitable for use anywhere, from "normal" terrain to steep slopes. However, increasing amounts of machine-made snow also places increasingly tough demands on the tracks. Now as before, this all-terrain track offers the perfect material combination of a lightweight aluminum cleat and a high-strength wear strip. After all, there's a reason why they are the best-selling track style worldwide. The track's powerful and extremely wear-resistant cleats are synonymous with high stability and superior power transmission.
                p Lighter with an even better grip The 6-belt KombiPlus track is the completion of the 7-belt track. The tried-and-

            .col-d-2
                p tested track elements, replacement parts and patented belt connecting lock are still the same. Six belts instead of seven means more space between the individual belts, resulting in less snow getting "carried along" in the track.  In return, the spacing between the track cleats is now smaller.
                p Test tracks have been out and about all over the world, being tested with extreme rigor under the widest range of conditions. And they passed the test. The long service lifetimes speak for themselves – the new 6-belt KombiPlus track from PistenBully is extremely durable and stable. It can conquer any slope and enables easy steering.
                h3 design
                p "Long service life, high maneuverability and a perfect slope appearance were the objectives in the development of the new track. The new 6-belt KombiPlus track bundles together all positive knowledge gained from our earlier tracks," says Uwe Thierer, Vice President Production at Kässbohrer and group leader responsible for the track project.
        img(src="i/product-card/img-5.jpg")
