- var catalogPartText = 'История Группы с 1964 года характеризуется опытом, основанным на идеях, энтузиазме и увлеченности. Группа объединяет ряд промышленных предприятий, совместно выпускающих новую продукцию.'
- var catalogPartText2 = 'Отмечена многочисленными международными премиями. Развитие комплексных проектов: от зарождения идеи до конечного результата, от разработки до продажи позволяет быть новатором, соответствовать потребностям и будущим тенденциям все более конкурентного рынка.';
- var adress = 'i/index/catalog-list/';

-
    var list = [
        {
            img: adress + '1.png',
            title: 'Телескопические погрузчики',
        },
        {
            img: adress + '2.png',
            title: 'Транспортеры cingo',
        },
        {
            img: adress + '3.png',
            title: 'самоходные бетоносмесители dbm',
        },
        {
            img: adress + '4.png',
            title: 'Навесное оборудование',
        },
    ]