//-- скрипты/стили/шрифты
include layout/styles
//-- include layout/fonts
include layout/scripts

include layout/head/head
include layout/page-header/header

include blocks/logo/logo
include layout/page-header/header/maker-list/maker-list
include layout/page-header/header/main-nav/main-nav
include layout/page-header/header/maker-nav/maker-nav
include layout/page-header/header/catalog-dropdown/catalog-dropdown
include layout/page-footer/company-info/company-info
include layout/page-footer/footer-form/footer-form
include layout/page-footer/page-footer
include layout/page-footer/footer-maker-list/footer-maker-list


//--блоки
include blocks/slider-card/slider-card
include blocks/index/main-slider/main-slider
include blocks/index/index-page-header/index-page-header
include blocks/index/geography/geography
include blocks/index/client-list/client-list
include blocks/index/clients/clients
include blocks/news/news
include blocks/index/section-header
include blocks/location-button/location-button
include blocks/forms/input
include blocks/forms/form


include blocks/border/border
include blocks/insta-list/insta-list
include blocks/button/button
include blocks/counter/counter
include blocks/maker-logo/maker-logo
include blocks/contact-link-block/contact-link-block
include blocks/marker-nav-switch/marker-nav-switch
include blocks/burger/burger
include blocks/about/about
include blocks/insta/insta
include blocks/company-name/company-name
include blocks/news-list/news-list
include blocks/card-news/card-news
include blocks/page-header/page-header
include blocks/card-default/card-default
include blocks/card-default-list/card-default-list
include blocks/catalog-part/catalog-part
include blocks/certificate-slider/certificate-slider
include blocks/social-link/social-link
include blocks/social-link/social-link
include blocks/breadcrumbs/breadcrumbs
include blocks/arrow-list/arrow-list
include blocks/title-block/title-block
include blocks/staff/staff
include blocks/staff-block/staff-block
include blocks/specifications/specifications
include blocks/catalog-card/catalog-card
include blocks/tab/mixin
include blocks/parallax-header/parallax-header
include blocks/features/features
include blocks/swiper-default/swiper-default
include blocks/swiper-default/bullet-list
include blocks/float-nav/float-nav
include blocks/catalog-title/_catalog-title
include blocks/product-slider/product-slider
include blocks/docs/docs
include blocks/optionally-slider/optionally-slider
include blocks/table/table

//--страницы
include includes/conponents/conponents
include includes/typography/typography
include includes/index/index
include includes/index-merlo/index-merlo
include includes/index-pistenbully/index-pistenbully
include includes/index-fae/index-fae
include includes/index-reform/index-reform
include includes/catalog-1/catalog-1
include includes/catalog-2/catalog-2
include includes/catalog-3/catalog-3
include includes/special/special
include includes/product-card/product-card
include includes/product-card-2/product-card-2
include includes/specia-card/specia-card