-
    var pages = {
        typography: {
            title: 'Типографика сайта',
            isLinkLogo: true,
        },
        index: {
            title: 'Главная страница',
            isLinkLogo: false,
            mainClass: 'index'
        },
        catalog: {
            title: 'Главная страница',
            isLinkLogo: true,
            mainClass: 'catalog'
        },
    }

-
    var contacts = {
        tel: {
            link: 'href:88005000163',
            mask: '8 800 5000 163',
        },
        email: {
            link: 'mailto:contact@pp-mail.com',
            mask: 'contact@pp-mail.com',
        }
    }
-   var names = {MERLO: 'merlo', PISTENBULLY: 'pistenbully', FAE: 'fae', REFORM: 'reform', DEFAULT: 'default'}


-
    var imgParallax = {
        merlo: {
            '767': 'i/index/m-slider/1.png',
            '768': 'i/index/m-slider/1.webp'
        },
        pistenbully: {
            '767': 'i/index/m-slider/2.png',
            '768': 'i/index/m-slider/2.webp'
        },
        fae: {
            '767': 'i/index/m-slider/3.png',
            '768': 'i/index/m-slider/3.webp'
        },
        reform: {
            '767': 'i/index/m-slider/4.png',
            '768': 'i/index/m-slider/4.webp'
        }
    }