-
    var newsListIndex = [
        {
            title: 'Активно празднуем новый 2021 в горах',
            date_day: '22 янв',
            date_month: '2021',
            maker: '',
            img: 'new1.png',
        },
        {
            title: 'Новое оборудование для уборки снега',
            date_day: '22 дек',
            date_month: '2020',
            maker: 'Reform',
            img: 'new2.png',
        },
        {
            title: 'Техника merlo теперь доступна для заказа на сайте',
            date_day: '16 окт',
            date_month: '2020',
            maker: 'Merlo',
            img: 'new3.png',
        },
        {
            title: 'Осенние спецпредложения',
            date_day: '01 сен',
            date_month: '2020',
            maker: 'FAE',
            img: 'new4.png',
        },
        {
            title: 'Посетите нас на стенде REFORM на выставке InterAlpin в Инсбруке',
            date_day: '17 июн',
            date_month: '2020',
            maker: 'Reform',
            img: 'new5.png',
        },

    ]