extends ../pug/layout/layout.pug
block var
    include ../pug/_var
    - var pageTitle = pages.index.title;
    - var isLinkLogo = pages.index.isLinkLogo;
    - var mainClass = pages.index.mainClass;
    - var isFullHead = true;
    - var className = names.REFORM
    - var pageName = names.REFORM

block content
    +indexReform