extends ../pug/layout/layout.pug
block var
    include ../pug/_var
    - var pageTitle = pages.index.title;
    - var isLinkLogo = pages.index.isLinkLogo;
    - var mainClass = pages.index.mainClass;
    - var isFullHead = false;
    - var pageName = names.DEFAULT;
    - var gradient = true;

block content
    +index