@import "_";


/************ стили сетки ***************/

.d-none {
    display: none;
}

.d-dt-block {
    @include desktopStyle {
        display: block !important;
    }

}
.d-none {
    display: none;
}

.d-dt-none {
    @include desktopStyle {
        display: none;
    }

}

.col-12 {
    width: 100%;
}

.col-md-6 {
    @include desktopStyle {
        width: 50%;
    }

}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;

    @include desktopStyle {
        padding-left: 80rem;
        padding-right: 80rem;

    }

    //@media(min-width: 1440px) {
    //    width: 1440px;
    //    margin: auto;
    //}
}

.row {
    display: flex;
    flex-wrap: wrap;

    @include desktopStyle {
        margin: 0;
    }
}

.col-d-2 {
    width: 100%;
    padding: 0 18px 24px;
    padding: 0;

    @include desktopStyle {
        box-sizing: border-box;
        width: 50%;
        padding: 0 24rem;
        padding: 0;
    }
}
.col-d-3 {
    width: 100%;
    padding: 0 18px 0;
    padding: 0;

    @include desktopStyle {
        box-sizing: border-box;
        width: 33.333%;
        padding: 0 24rem;
        padding: 0 8rem;
    }
}