$sansRegular: 'sans-regular';
$sansSemibold: 'sans-semibold';
$sansBold: 'sans-bold';

$oswaldRegular: 'oswald-regular';
$oswaldMedium: 'oswald-medium';
$oswaldSemibold: 'oswald-semibold';
$oswaldBold: 'oswald-bold';

$ex: 0;
$sm: 480px;
$m: 560;
$ml: 640px;
$l: 992px;
$xl: 1024px;


$colors: (
    footer: #333333,
    goldLight: #C0A968,
    goldDark: #745F39,
    darkGray: #212322,
    gray5: #303336,
    gray4: #53565A,
    gray3: #888B8D,
    gray2: #BBBBBB,
    gray1: #D9D9D6,
    dark: #5F5E58,
    fillDark: rgba(0, 0, 0, 0.88),
    fillGoldenDimmed: rgba(12, 10, 9, 0.8),
    green: #01A346,
    reform: #D44627,
    fae: #E28530,
    pistenbully:  #DA3828,
    merlo: #01A346,
);
