mixin geography(name)
    .geography
        ._map
            if(name === names.MERLO)
                img(src="i/map/merlo.svg" alt="География работы")
            else if(name === names.FAE)
                img(src="i/map/fae.svg" alt="География работы")
            else
                img(src="i/map/SNG.svg" alt="География работы")
