-
    var catalogList3 = [
        {
            specifications: true,
            title: 'MULI T7 X, T8 X, T8 X PRO',
            img: ['i/catalog/1.png'],
            description: 'Clean 6-cylinder engine with 512 hp (382 kW) and powerful torque (EU Stage V). Reduced weight coupled with increased performance for maximum power-to-weight and with it improved climbability.',
        },
        {
            specifications: true,
            title: 'MULI T6\n',
            img: ['i/catalog/2.png'],
            description: 'Lightest machine. Cleanest engine. Highest gradability. Most intuitive control. Best winch.',
        },
        {
            specifications: true,
            title: 'MULI T7\n',
            img: ['i/catalog/3.png'],
            description: 'Lightest machine.',
        },
        {
            specifications: true,
            title: 'MULI T7 S',
            img: ['i/catalog/4.png'],
            description: 'Приварными (под постоянным давлением) стальными противоножами',
        },
        {
            specifications: true,
            title: 'Очень очень длинное название продукта в 3 строки',
            img: ['i/catalog/5.png'],
            description: 'The PistenBully 400 Indoor is destinated for use in snow domes: The engine is quiet and also low-emission thanks to its integrated emission control and a soot filter',
        },
        {
            specifications: true,
            title: 'MULI T10 X',
            img: ['i/catalog/6.png'],
            description: 'The expectations of a perfect snow park rise from season to season. The extreme range of motion of the front blade lets the park builder push, carry and place the snow exactly where needed.',
        },
    ];

-
    var catalogList3Tab3 = [
        {
            specifications: true,
            currency: 'rub',
            icons: ['weight', 'depth', 'diameter'],
            title: 'MULI T7 X, T8 X, T8 X PRO',
            img: ['i/catalog/1.png'],
            description: 'Clean 6-cylinder engine with 512 hp (382 kW) and powerful torque (EU Stage V). Reduced weight coupled with increased performance for maximum power-to-weight and with it improved climbability.',
        },
        {
            specifications: true,
            currency: 'euro',
            icons: ['length', 'weight', 'depth', 'diameter'],
            title: 'MULI T6\n',
            img: ['i/catalog/2.png'],
            description: 'Lightest machine. Cleanest engine. Highest gradability. Most intuitive control. Best winch.',
        },
        {
            specifications: true,
            currency: 'dollar',
            title: 'MULI T7 X, T8 X, T8 X PRO',
            img: ['i/catalog/5.png'],
            description: 'The PistenBully 400 Indoor is destinated for use in snow domes: The engine is quiet and also low-emission thanks to its integrated emission control and a soot filter',
        },
        {
            specifications: true,
            title: 'MULI T10 X',
            img: ['i/catalog/6.png'],
            description: 'The expectations of a perfect snow park rise from season to season. The extreme range of motion of the front blade lets the park builder push, carry and place the snow exactly where needed.',
        },
    ];



-
    var catalogList3Tab2 = [
        {
            specifications: true,
            icons: ['length', 'weight', 'depth', 'diameter'],
            title: 'Очень очень длинное название продукта в 3 строки',
            img: ['i/catalog/5.png'],
            description: 'The PistenBully 400 Indoor is destinated for use in snow domes: The engine is quiet and also low-emission thanks to its integrated emission control and a soot filter',
        },
        {
            specifications: true,
            icons: ['length', 'diameter'],
            title: 'MULI T10 X',
            img: ['i/catalog/6.png'],
            description: 'The expectations of a perfect snow park rise from season to season. The extreme range of motion of the front blade lets the park builder push, carry and place the snow exactly where needed.',
        },
    ]

-
    var catalogList3Part2 = [
        {
            specifications: true,
            title: 'MULI T10 X HYBRIDSHIFT',
            img: ['i/catalog/7.png'],
            description: 'Powerful: With its features the PistenBully 100 Park takes into account the new fun slopes for the whole family',
        },
    ]


-
    var floatNavCatalog3 = ['Длинный заголовок для теста', 'Boki mini', 'Metron', 'Muli', 'Muli new', 'Mounty', 'PistenBully 600 E', 'Boki mini']

