/************ шапка сайта ***************/
@import "src/style/_";

@mixin before($side) {
    position: absolute;
    display: block;
    content: "";
    width: 32px;
    height: 1px;
    //border-bottom: 1px solid color(dark);
    border-bottom: 1px solid transparent;
    @include baseTransitionStyle(border-bottom);
    top: 50%;
    #{$side}: 0;

}

.page-header {
    position: relative;
    margin: 0 -16px;

    @include desktopStyle {
        margin: 0 -80rem;
    }

    &__wrap {
        margin-top: -66px;

        @include desktopStyle {
            margin-top: -220rem;
            position: relative;
        }
    }

    &__top {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 75%;
        background: url('i/noise_.png'), linear-gradient(
                        180deg
                , rgba(10, 11, 10, 0) 48.44%, #0A0B0A 100%);
        overflow: hidden;

        @include desktopStyle {
            padding-bottom: 50%;
        }
    }

    &__img {
        position: absolute;
        -o-object-fit: cover !important;
        object-fit: cover !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        z-index: -1;
        background-size: auto 100% !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        transform-style: preserve-3d !important;
        backface-visibility: hidden !important;
        will-change: transform, opacity !important;

        @include desktopStyle {
            background-size: 100% auto !important;
        }
    }

    &__title-name {
        display: inline-block;
        position: relative;
        padding: 0 48px;
        overflow: hidden;
        line-height: 120%;
        //opacity: 0;
        color: transparent;

        //@each $name in ('reform', 'fae', 'merlo', 'pistenbully') {
        //    color: color($name);
        //}

        &:before {
            @include before(left);
            //transform: translate(-100%, -50%);

            .done & {
                border-bottom: 1px solid color(dark);
                @include baseTransitionStyle(border-bottom);
            }
        }

        &:after {
            @include before(right);
            //transform: translate(100%, -50%);

            .done & {
                border-bottom: 1px solid color(dark);
                @include baseTransitionStyle(border-bottom);
            }
        }


        @include desktopStyle {
            padding: 0 40rem;

            &:before,
            &:after {
                width: 128rem;
                height: 1rem;
            }

        }

        @include desktopStyle {
            padding: 0 168rem;
        }
    }


    &__title {
        position: relative;
        font-family: "Oswald Light";
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 120%;
        line-height: 0;
        letter-spacing: -0.005em;
        text-transform: uppercase;
        margin: 0 0 8px;
        color: transparent;

        text-align: center;


        //@each $color in merlo, reform, fae, pistenbully {
        //    &.#{$color} {
        //        color: color($color);
        //    }
        //}

        @include desktopStyle {
            font-size: 128rem;
            margin-bottom: 16rem;
        }

        .block {
            position: absolute;
            inset: 0px;
            -webkit-backdrop-filter: blur(56px);
            backdrop-filter: blur(56px);
            transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
            background: color(goldLight);
        }
    }

    &__subtitle {
        margin: 0;
        @include getFont($sansRegular, 18, false);
        text-align: center;
        color: color(gray2);
        padding: 0 16px;


        @include desktopStyle {
            padding: 0;
            font-size: 20rem;
        }
    }
}

