mixin footerMakerList
    ul.footer-maker-list
        li._item.merlo
            a._link(href="#")
                include merlo.svg
        li._item.pistenbully
            a._link(href="#")
                include pistenbully.svg
        li._item.fae
            a._link(href="#")
                include fae.svg
        li._item.reform
            a._link(href="#")
                include reform.svg

