mixin counter
    .counter
        ._in
            ._item
                p._description 06
                p._termin лет работы
            ._item
                p._description 200+
                p._termin клиентов
