- var sliderProductCard = ['i/product-card/1.jpg', 'i/product-card/2.jpg', 'i/product-card/3.jpg', 'i/product-card/4.jpg']

-
    var productCardGallery = [
        {img: 'i/product-card/slider-1.jpg'},
        {img: 'i/product-card/slider-2.jpg'},
        {img: 'i/product-card/slider-1.jpg'},
        {img: 'i/product-card/slider-2.jpg'}
    ]

-
    var productCardVideo = [
        {videoId: 'u0P6cLDgNQk'},
        {videoId: '_YgbC01FeMQ'},
        {videoId: 'wK_ze1bLP4k'},
        {videoId: 'LIdpOLUHXPY'}
    ]


-
    var testList = [
        {title: 'Стандартные вилы', img: ['i/product-card/attached/1.png']},
        {title: 'СВЕРХШИРОКАЯ КАРЕТКА ДЛЯ ВИЛ', img: ['i/product-card/attached/2.png']},
        {title: 'КАРЕТКА С ПЛАВАЮЩИМИ ВИЛАМИ', img: ['i/product-card/attached/3.png']},
        {title: 'ВИЛЫ FEM', img: ['i/product-card/attached/4.png']},
        {title: 'СМЕСИТЕЛЬНЫЙ КОВШ', img: ['i/product-card/attached/5.png']},
    ]

-
    var dataTableCard1 = [
        ['', 'TF33.9-115 EE'],
        ['Масса с вилами (кг)', '7200'],
        ['Макс. грузоподъемность (кг)', '3300'],
        ['Макс. высота подъема (м)', '8,6'],
        ['Макс. вылет (м)', '5,7'],
        ['Высота подъема при макс. грузе (м)', '6,5'],
        ['Вылет при макс. грузе (м)', '1,5'],
        ['Грузоподъемность на макс. высоте (кг)', '3500'],
        ['Грузоподъемность на макс. вылете (кг)', '1350'],
        ['Количество секций стрелы', '3'],
        ['Двигатель', 'Deutz TCD3.6 4 цил'],
        ['Экологический стандарт', 'Евро 3А'],
        ['Объем', '3,6 л'],
        ['Мощность (л.с.)', '85 кВт (115 л.с.)'],
        ['Макс. скорость (км/час)', '40'],
        ['Объем топливного бака', '85 л'],
    ]
