mixin description
    .catalog-content
        .row
            .col-d-2
                h3 БОЛЬШИЙ ЗАПАС ТОПЛИВА
                p Машины перемалывают камни диаметром до 30 см и работают с заглублением в грунт до 20 см. Во всех моделях, кроме STC 125, установлен двойной привод, благодаря чему мощность более равномерно передается на ротор и повышается КПД. Детали изготавливаются из высокопрочной стали HARDOX, что снижает повреждения при эксплуатации и обеспечивает экономию на ремонте.
                p
                    b Для заказа в Самаре
                    |    вы можете оставить заявку на нашем сайте или позвонить по номеру +7 (846) 379-40-24
                h3 ДОПОЛНИТЕЛЬНОЕ ОБОРУДОВАНИЕ
                p Камнедробилка STC может комплектоваться:
                ul
                    li Возможностью выбора трансмиссии 540 или 1000 об/мин (STC 125)
                    li Гидроцилиндром верхней тяги
                    li Бульдозерным отвалом
                    li Грейдерным отвалом (STC/DT)
                    li Различными зубьями
            .col-d-2
                h3 СЕРИЙНАЯ КОМПЛЕКТАЦИЯ
                p STC комплектуется:
                ul
                    li Карданным валом с кулачковой муфтой
                    li Редуктором с муфтой свободного хода
                    li Трансмиссией с приводными ремнями Poly-V L
                    li Задним щитком с гидравлическим приводом
                    li Приварными (под постоянным давлением) стальными противоножами
                    li Регулируемыми противоножами из стали Hardox®
                    li Регулируемыми салазками
                    li Проникающими салазками
                    li Герметичным корпусом с защитой от пыли (STC/DT)
                    li Боковой защитой

