mixin threeColumn2
    .catalog-content
        h4 Продуманная эргономика рабочего места и превосходный обзор
        .row
            .col-d-3
                img(src="i/product-card/img-2.jpg" alt="alt изображения")
                h3 ШТУРВАЛ И МНОГОФУНКЦИОНАЛЬНЫЙ ДИСПЛЕЙ
                p На PistenBully 600 Polar SCR установлен полукруглый штурвал с возможностью бесступенчатой регулировки по вертикали и горизонтали с многофункциональным дисплеем.
            .col-d-3
                img(src="i/product-card/img-2.jpg" alt="alt изображения")
                h3 СИСТЕМА ЦЕТРАЛЬНОГО УПРАВЛЕНИЯ “TERMINAL” И СЕНСОРНЫЙ ЭКРА
                p Управление всеми функциями осуществляется просто: с помощью сенсорного экрана или через систему центрального управления Terminal.
            .col-d-3
                img(src="i/product-card/img-2.jpg" alt="alt изображения")
                h3 ДЖОЙСТИК PISTENBULLY: ВСЕ ФУНКЦИИ – В ОДНОЙ РУКЕ!
                p С джойстиком PistenBully Kassborher управление всеми важными функциями всегда у вас под рукой, а значит в самом быстром доступе.


