-
    var breadcrumbsCatalog2 = ['Главная', 'fae', 'каталог', 'Расчистка местности']

-
    var catalog2List = [
        {title: 'Мульчеры', img: 'i/catalog/12.png'},
        {title: 'Почвенные фрезы', img: 'i/catalog/13.png'},
        {title: 'Универсальные фрезы', img: 'i/catalog/14.png'},
        {title: 'Фрезы для пней', img: 'i/catalog/15.png'},
    ]


-
    catalogStaffList = [
        {
            name: 'Тагир Ямалетдинов',
            img: 'i/staff/3.png',
            department: 'продажи',
            activity: 'Менеджер направления'
        },
        {
            name: 'Максим Орехов',
            img: 'i/staff/6.png',
            department: 'запчасти',
            activity: 'Менеджер отдела запчастей'
        },
        {
            name: 'Евгения Седых',
            img: 'i/staff/8.png',
            department: 'Продажи',
            activity: 'Руководитель направления'
        },
    ]