.row.catalog-content.js-soa.is-scroll-invisible
    .col-d-2
        h3 СЕЛЬСКОХОЗЯЙСТВЕННАЯ И ЛЕСОХОЗЯЙСТВЕННАЯ ТЕХНИКА МАРКИ FAE
        p Сельскохозяйственные земли и лесные массивы, земли у реки,озелененные территории и зеленые насаждения, а также поле для гольфа, зеленые городские территории и лесные тропы: линейка техники FAE для расчистки местности проектируется и производится для того, чтобы ускорить и облегчить любые виды сельскохозяйственных и лесохозяйственных работ. Сельскохозяйственная и лесохозяйственная техника FAE с высоким ресурсом эксплуатации (мульчеры и фрезы для деревьев, камнедробилки, измельчители пней и многофункциональные машины) помогают отраслевым специалистам выполнять любые работы по обработке и подготовке земель, гарантируя качественный результат.
    .col-d-2
        p Машины с механическим приводом от вала отбора мощности, которые легко устанавливаются на различные тракторы, и навесные машины с гидравлическим приводом для мини погрузчиков, экскаваторов и специальной техники обладают высокой эффективностью и отличными характеристиками.
