-
    var userMenu = [
        {
            title: 'Личный кабинет',
            icon: 'user.png',
            class: 'user',
        },

        {
            title: 'Корзина',
            icon: 'basket.png',
            class: 'user',
        },

    ]

-
    var dropdown = [
        {
            title: 'Верхняя одежда',
            link: '',
        },
        {
            title: 'Свитшоты/толстовки',
            link: '',
        },
        {
            title: 'Футбы/боди',
            link: '',
        },
        {
            title: 'Штаны',
            link: '',
        },
        {
            title: 'Комбезы/костюмы',
            link: '',
        },
        {
            title: 'Слипы',
            link: '',
        },

    ]
-
    var dropdown2 = [
        {
            title: 'Боди/Володазки',
            link: '',
        },
        {
            title: 'Свитшоты/толстовки',
            link: '',
        },
        {
            title: 'Футбы/боди',
            link: '',
        },
        {
            title: 'Платья',
            link: '',
        },
        {
            title: 'Аксессуары',
            link: '',
        },
        {
            title: 'Слипы',
            link: '',
        },

    ]
-
    var mainNav = [
        {
            title: 'NEW',
            link: '',
            dropdown: false,
        },
        {
            title: 'DNK DESIGN',
            link: '',
            dropdown: false,
        },
        {
            title: 'Малыши (92-68)',
            link: '',
            dropdown: dropdown,
            open: false,
        },
        {
            title: 'Дети (98-122)',
            link: '',
            dropdown: dropdown2,
        },
        {
            title: 'Подростки (134-170)',
            link: '',
            dropdown: dropdown,
        },
        {
            title: 'Женщины',
            link: '',
            dropdown: dropdown2,
        },
        {
            title: 'Мужчины',
            link: '',
            dropdown: dropdown,
        },
        {
            title: 'Аксессуары',
            link: '',
            dropdown: dropdown2,
        },
        {
            title: 'DNk маркет',
            link: '',
            dropdown: dropdown,
        },
        // {
        //     title: 'Last Size',
        //     link: '',
        //     dropdown: dropdown,
        // },
    ]


-
    var submenu = [
        {
            title: 'Доставка',
            link: '',
        },

        {
            title: 'Контакты',
            link: '',
        },
        {
            title: 'Эко',
            link: '',
        },
    ]