-
    var mainMenu = [
        {title: 'Медиа', link: '/', isChecked: false},
        {title: 'Контакты', link: '/', isChecked: false},
        {title: 'О нас', link: '/', isChecked: false},
    ]
-
    var makerMenu = [
        {title: 'merlo', link: '/', isChecked: false, img: 'merlo'},
        {title: 'pistenbully', link: '/', isChecked: false, img: 'pistenbully'},
        {title: 'fae', link: '/', isChecked: false, img: 'fae'},
        {title: 'reform', link: '/', isChecked: false, img: 'reform'},
    ]


-
    var catalogDropdown = [
        {title: 'Каталог пункт1', link: '/'},
        {title: 'Каталог пункт2', link: '/'},
        {title: 'Каталог пункт3', link: '/'},
        {title: 'Каталог пункт4', link: '/'},
        {title: 'Каталог пункт5', link: '/'},

    ]

-
    var catalogNav = [
        {title: 'Каталог', dropdown: catalogDropdown, link: '/'},
        {title: 'Сервис', dropdown: false, link: '/'},
        {title: 'Запчасти', dropdown: false, link: '/'},
        {title: 'Спецпредложения', dropdown: false, link: '/'},
        {title: 'Новости', dropdown: false, link: '/'},
    ]

- var adress = 'i/index/catalog-list/';

-
    var dropdownList = [
        {
            img: adress + '1.png',
            title: 'Телескопические погрузчики',
            list: ['Камнедробилки', 'Стабилизаторы грунта', 'Универсальные машины']
        },
        {
            img: adress + '2.png',
            title: 'Транспортеры cingo',
        },
        {
            img: adress + '3.png',
            title: 'самоходные бетоносмесители dbm',
        },
        {
            img: adress + '4.png',
            title: 'Навесное оборудование',
        },
        {
            img: adress + '5.png',
            title: 'Экскаваторы Boki',
        },
        {
            img: adress + '6.png',
            title: 'Навесное оборудование',
        },
        {
            img: adress + '7.png',
            title: 'muli / muli new',
        },
    ]