/************ menu-dropdown ***************/

@import "src/style/_";

$padding: 45px;

.menu-dropdown {
    position: relative;
    @include baseListStyle;
    padding: $padding 0;
    //column-width: 48%;
    column-count: 2;
    column-gap: 4%;

    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 2px;
        height: calc(100% - #{$padding * 2});
        left: 50%;
        transform: translateX(-50%);
        background: #e4e2e2;
    }

    &__link {
        display: block;
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 22px;
        font-weight: 400;
        padding: 8px 0;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
    }
}
